@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Level 2, 10 Rudd Street<br />
    Canberra ACT 2601<br />
    <abbr title="Phone">P: 0000 000 000</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Andrew.Duff@xero.com</a><br />
</address>